body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.titulo{
    text-align: center;
}

.btn-custom {
    width: 100%;
    margin-bottom: 10px;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}
.btn-custom:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}